:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* CSS for Navbar */
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, Arial, sans-serif;

  color: var(--white);
}

header {
  background-color: transparent;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-menu-group .navbar-logo {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
}

.first-menu-group .navbar-logo .rental {
  color: #ff7f50;
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
}

.middle-menu-group {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav_links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;

}

.nav-item {
  margin: 0 10px;
  color: white;
}


.nav-item.active .nav-link {
  color: #ff7f50;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ff7f50;
}

.last-menu-group {
  display: flex;
  align-items: center;
}

.login_div {
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin-right: 10px;
  color: #f8f9fa;
}

.last-menu-group .nav-item {
  margin: 0 10px;
}

.last-menu-group .nav-link {
  color: var(--blue);
}

.main-page {
  position: relative;
  width: 100%;
  height: 100vh;

}

.text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 100px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/bg_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  z-index: -1;
}

.text-container {
  height: 60px;
  width: 300px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.text-container p {
  font-size: 20px;
  font-weight: 200;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  margin-bottom: 0px;
}

.description h1{
  color: black;
}

.text-container h1 {
  margin-top: 5px;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.card-container {
    background-color: #f4f4f4;
    padding: 20px;
}

.photo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.description {
    margin-top: 10px;
}

.car {
    font-weight: bold;
}